/* Elements sélectors  */

body {
    background-color: aqua ;
}

/* Class sélectors */

.container {
    height: 200px;
    width: 200px;
    border: 2px solid black;
    position: relative;
}

.circle {
    background-color: blueviolet;
    height: 40px;
    width: 40px;
    border-radius: 25px;
}

.anim-1 {
    margin-left: 80px;
    animation: animation-1 2s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    position: absolute;
}

@keyframes animation-1 {
    0% {
    margin-left: 80px;
    }
    100% {
       margin-top: 160px; 
    }
}

.anim-2 {
    position: absolute;
    animation: animation-2 2s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;    
}

@keyframes animation-2 {
    0% {
    margin-left: 160px;
    }
    100% {
       margin-top: 160px; 
    }
}

.anim-3 {
    position: absolute;
    animation: animation-3 3s infinite alternate;
    /* animation-timing-function: ease-in; */
}

@keyframes animation-3 {
    0% {
        translate: 0px 0px;
    }
    33% {
        translate: 160px 0px;
    }
    66% {
        translate: 0px 160px;
    }
    100% {
        translate: 160px 160px;
    }
}

