/* Elements sélectors  */

body {
    background-color: aqua ;
}

/* Class sélectors */

.container {
    /* height: 200px;
    width: 200px;
    border: 2px solid black; */
    position: relative;
}

.circle {
    height: 40px;
    width: 40px;
    border-radius: 25px;
}

.anim {
    position: absolute;
    animation: 3s infinite alternate ease-in-out;
}

.anim-1 {
    margin-left: 80px;
    animation: animation-1;
}

@keyframes animation-1 {
    0% {
        background-color: gold;
    margin-left: 80px;
    }
    100% {
       margin-top: 160px; 
       background-color: purple;
    }
}

.anim-2 {
    animation: animation-2;
}

@keyframes animation-2 {
    0% {
        background-color: fuchsia;
    margin-left: 160px;
    }
    100% {
        background-color: #00f900;
       margin-top: 160px; 
    }
}

.anim-3 {
    animation: animation-3;
}

@keyframes animation-3 {
    0% {
        background-color: #00f900;
      }
      33% {
        margin-top: 0px;
        margin-left: 160px;
      }
      66% {
        margin-top: 160px;
        margin-left: 0px;
      }
      100% {
        margin-top: 160px;
        margin-left: 160px;
        background-color: #d50606;
      }
    }